@import "../layout/paging";

.loading_process {
  .progress {
    @extend .display_center;
    background-color: #000000;
    z-index: 2;
    position: fixed;
    width: 100vw;
    height: 100vh;
    animation: progress 3000ms;
    visibility: hidden;
    & > .progress__bar {
      width: 50%;
      height: 1rem;
      transform: scaleX(0);
      border-radius: 10px;
      transform-origin: left;
      background: linear-gradient(
          0deg,
          rgba(255, 255, 255, 0.15),
          rgba(255, 255, 255, 0.15)
        ),
        linear-gradient(200.64deg, #9356dc -5.2%, #ff79da 110.74%);
      animation-name: progress__bar;
      animation-duration: 2000ms;
      visibility: hidden;
    }
  }
}

@keyframes progress__bar {
  0% {
    transform: scaleX(0);
    visibility: visible;
  }
  100% {
    transform: scaleX(1);
  }
}

@keyframes progress {
  0% {
    opacity: 1;
    visibility: visible;
  }

  25% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes menu {
  0% {
    opacity: 0;
    transform: translateX(5rem);
  }
  75% {
    opacity: 0;
    transform: translateX(5rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
